body{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


:root{
    --primaria: #ED145B;
    --secundaria: #9090f6;
}

*{
    box-sizing: border-box;
}


.calculadora{
    width: 450px;
    height: 600px;
    padding: 50px;

    background-color: #ed145b;
    border-radius: 50px;
    box-shadow: 0px 4px 10px #00000088;
}

/* Este é um comentário*/
button{
    width: 65px; 
    height: 65px;
    
    background-color: #fff;
    border-radius: 50%;
    font-size: 26px;
    border: none;
    cursor: pointer;

    transition: 0.2s;
}

button:hover{
    background-color: #000;
    color: #fff;
}

.display{
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    text-align: right;

    background-color: #fff;
    border-radius: 50px;
    font-size: 36px;
}

.container-botoes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.historico {
    height: 600px;
    margin-left: 10px;

}
